body{
  background-image: url(https://img.pikbest.com/58pic/35/44/94/51z58PICAu3HVCe3eZ2ba_PIC2018.png!c1024wm2048/compress/true/progressive/true/format/webp/fw/1024);
  background-size: cover;
}
.card-img-top{
  transition: border-radius 0.5s ease;
}
.card:hover .card-img-top{
  border-radius: 50%;
}
#movie-fuid{
  width: 100%;
}
.icon{
  display: flex;
  flex-direction: row;
}